.devspace/
.dockerignore
.editorconfig
.eslint*
.eslintrc.json
.prettierrc
.prettierignore.
.tslint.json
.git/
.gitignore
.gitlab*
.helmignore
.idea/
.nsprc
*.md
config/**/runtime.*
docker-compose.*
Dockerfile
Dockerfile.dev
Dockerfile*
helm/
node_modules/
contrib/
coverage/
jest.config.js
src/tests/
src/mockups/
build/
server/node_modules/