@font-face {
  font-family: "BasisGrotesque Light";
  src: url(./utils/assets/fonts/basisGrotesque/BasisGrotesqueTrial-Light.otf) format("opentype");
}

@font-face {
  font-family: "BasisGrotesque Medium";
  src: url(./utils/assets/fonts/basisGrotesque/BasisGrotesqueTrial-Medium.otf) format("opentype");
}

@font-face {
  font-family: "BasisGrotesque Bold";
  src: url(./utils/assets/fonts/basisGrotesque/BasisGrotesqueTrial-Bold.otf) format("opentype");
}

body {
  font-size: 20px;
  font-family: "BasisGrotesque Medium", Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}

body * :not(.icon){
  font-family: "BasisGrotesque Medium", Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}


.custom-font-medium {
  font-family: "BasisGrotesque Medium", Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.custom-font-bold {
  font-family: "BasisGrotesque Bold", Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.custom-marker {
  z-index: 0;
}

.custom-marker.start {
  font-size: 3.6em !important;
  color: #66c2a5;
}

.custom-marker.end {
  font-size: 3.6em !important;
  color: #d53e4f;
}

.custom-marker.waypoint {
  font-size: 1.3em !important;
  color: #007a93;
  background: white;
  border-radius: 10px;
  width: 18px;
  height: 18px;
  border: 4px solid rgba(0, 122, 147, 1);
  opacity: 1;
}

.custom-marker.polyline-circle {
  font-size: 1.3em !important;
  color: #007a93;
  background: white;
  border-radius: 10px;
  width: 18px;
  height: 18px;
  border: 4px solid rgba(0,62,80,0.5);
  opacity: 1;
  z-index: 10;
}

.custom-popup {
  z-index: 130;
}

.mapboxgl-popup-content {
  z-index: 20 !important;
}

.custom-popup-route .mapboxgl-popup-content {
  padding: 0 !important;
  border-radius: 20px;
}

.key {
  color: red;
}

.number {
  color: blue;
}