@font-face {
  font-family: "BasisGrotesque Light";
  src: url(./utils/assets/fonts/basisGrotesque/BasisGrotesqueTrial-Light.otf) format("opentype");
}

@font-face {
  font-family: "BasisGrotesque Medium";
  src: url(./utils/assets/fonts/basisGrotesque/BasisGrotesqueTrial-Medium.otf) format("opentype");
}

@font-face {
  font-family: "BasisGrotesque Bold";
  src: url(./utils/assets/fonts/basisGrotesque/BasisGrotesqueTrial-Bold.otf) format("opentype");
}

body {
  font-size: 20px;
  font-family: "BasisGrotesque Medium", Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}

body * :not(.icon){
  font-family: "BasisGrotesque Medium", Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
}


.custom-font-medium {
  font-family: "BasisGrotesque Medium", Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.custom-font-bold {
  font-family: "BasisGrotesque Bold", Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.custom-marker.start {
  font-size: 3.6em !important;
  color: #66c2a5;
}

.custom-marker.end {
  font-size: 3.6em !important;
  color: #d53e4f;
}

.custom-marker.waypoint {
  font-size: 2.7em !important;
  color: #007a93;
}

.key {
  color: red;
}

.number {
  color: blue;
}